.dockerignore
.git
.gitignore
.overcommit.yml
.rspec
.rubocop.yml
.ruby-version
.travis.yml
Dockerfile
README.md
deploy.sh
spec
.bundle/
vendor/bundle/
*.gem
# Ignore your local lockfile so the container generates its own if needed
Gemfile.lock